# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo
*.pyd
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Poetry
.poetry/
# poetry.lock

# Env files
.env

# Database files
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# Rust
rust_predictions/target/

# IDEs
.vscode/
.idea/
/.github/workflows/predictions.yml
/.github/workflows/send_updates.yml
/data